@media screen and (min-width: 768px){
    h1{
        text-align: left;
        margin-left: 30px;
    }

    .title-brackets{
        display: inline;
    }

    .u-row{
        display: flex;
        flex-wrap: wrap;
    }

    #banner{
        display: inline-block;
    }

    #t-picture{
        float: left;
        margin-left: -55px;
        margin-right: 10px;
    }

    main.container{
        max-width: 765px;
        margin: 0 auto;
        padding: 30px;
    }

    [class~="col"]{
        width: 100%;
    }

    .recipe-info ul{
        margin: 0 -45px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .recipe-info li{
        padding: 0 45px;
    }

    .img-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .img-card{
        width: 100%;
        padding: 0 10px;
    }

    
    i[class^="fa-brands fa-"]{
        margin-right: 10px;
        background-color: white;
        border-radius: 20px;
        height: 40px;
        width: 120px;
        text-align: center;
        line-height: 40px;
        box-shadow: 0 6px 5px rgb(180, 176, 176);
    }
    
    .more-info{
        text-align: right;
    }

    address{
        text-align: center;
    }
}