/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif ;
    
}

/* generici */

body{
    background-color: lightgray;
}

.container{
    max-width: 560px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.container *{
    margin-bottom: 10px;
}

.site-name{
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

h1{
    font-family: 'Nerko One', cursive;
    color: orange;
    font-size: 42px;
}

h3{
    font-size: 28px;
    color: rgb(66, 10, 66);
    display: inline-block;
}

h4{
    color: rgb(177, 175, 175);
}



#banner{
    max-width: 100%;
    display: none;
}


/* utili */

.btn{
    background-color: orange;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 15px;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.col{
    padding: 0 5px;
}

ul{
    list-style-type: none;
}

/* prima sezione */

.title-brackets{
    display: none;
}

.rate-col{
    display: inline;
}

.fa-star{
    color: orange;
}

iframe{
    max-width: 100%;
}

.info-card{
    background-color: white;
    padding: 20px;
}

.eaters-info{
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 20px;
}

.kcal{
    background-color: purple;
    padding: 5px 10px;
}

.more-info{
    font-size: 20px;
    color: orange;
}

[class^="fa-solid"]{
    color: orange;
}

.col .black{
    color: black;
}

/* social */

.socials{
    display: none;
}

.social-links ul{
    display: flex;
    justify-content: space-evenly;
}

[class^="fa-brands"]{
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30%;
}

/* seconda sezione */

#t-picture{
    max-width: 100%;
    height: 255px;
    padding-left: 55px;
}

.t-story{
    text-align: left;
}