/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif ;
    
}

/* generici */

body{
    background-color: lightgray;
}

.container{
    max-width: 560px;
    margin: 0 auto;
}

.site-name{
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

h1{
    font-family: 'Nerko One', cursive;
    color: orange;
    font-size: 42px;
}

iframe{
    max-width: 100%;
}

#banner{
    max-width: 100%;
    display: none;
}

/* prima sezione */

.title-brackets{
    display: none;
}

.socials{
    display: none;
}