/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif ;
    
}

/* generici */

body{
    background-color: lightgray;
}

.site-name{
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

h1{
    font-family: 'Nerko One', cursive;
    color: orange;
    font-size: 42px;
}